* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  padding: 56px 100px;
}

p {
  font-weight: 400;
  line-height: 100%;
  color: #1f1f1fd0;
}

.header-nav {
  display: flex;
  gap: 118px;
  align-items: center;
}

.header-nav > a {
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 900;
  color: #114455;
}

.header-nav > button {
  border-width: 1px;
  width: 150px;
  height: 56px;
  line-height: 36px;
  font-weight: 800;
  color: #114455;
  background-color: #ffffff;
}

.background {
  background-image: url("./assets/images/backround-image.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  position: absolute;
  z-index: -10;
}

.box-1 {
  display: grid;
  position: relative;
  padding: 350px 0 0 100px;
  gap: 48px;
}

.box-1-h1 {
  width: 43.75rem;
  height: 200px;
  font-size: 80px;
  line-height: 100%;
  color: #114455;
}

.box-1-p {
  font-size: 34px;
}

button {
  border-width: 1px;
  width: 150px;
  height: 56px;
  line-height: 36px;
  font-weight: 800;
  color: #ffffff;
  background-color: #114455;
  cursor: pointer;
}

.nav-svg {
  display: flex;
  justify-content: center;
  padding-top: 21vh;
}
 
.box-2 {
  max-width: 1920px;
  height: 100%;
  margin-top: 20vh;
}

.box-text {
  padding: 56px 100px;
}

.box-text > h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  color: #1F1F1F;
  padding-bottom: 12px;
}

.box-text > p {
  max-width: 1076px;
  height: 88px;
  font-size: 28px;
  line-height: 44px;
}

.case-studies {
  display: flex;
  overflow: auto;
  margin:0 0 104px 100px;
}

.case-studies::-webkit-scrollbar {
  overflow: hidden;
}

.box-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  max-width: 85vw;
  height: 800px;
  margin: 144px 100px;
  position: relative;
  z-index: -10;

}

.play {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.footer {
  height: 10vh;
  padding:0 100px;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}

.footer > div > p {
  color: #1f1f1f9e;
}

.footer > div {
  display: flex;
  align-items: center;
}

.footer-icons {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.footer-icons > img {
  max-width: 40px;
  height: 40px;
  gap: 0;
}